@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');
html, body {
    width: 360px;
    height: 800px;
    font-family: 'League Spartan', sans-serif;  }

  /*Setting font and bg color*/
  /* line 12, ../sass/_timer.scss */
  body {
    background-color:white;
    margin: 5%;
  }

  .container {
    height: 100%;
  }

  .hamburger-container {
    background-color: #FD898A;
    width: 200px;
    height: 200px;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: -115px;
    margin-left: -123px;
    z-index: 10;
  }

  .hamburger {
    width: 22px;
    position: absolute;
    left: 142px;
    border-top: 2px solid #fff;
    cursor: pointer;
    z-index: 1;
    top: 136px;
  }

  .hamburger:after {
    content: "";
    display: block;
    border-top: 2px solid #fff;
    margin-top: 4px;
  }
  .hamburger:before {
    content: "";
    display: block;
    border-top: 2px solid #fff;
    margin-top: 4px;
  }

  .plus {
    width: 20px;
    position: absolute;
    border-top: 3px solid #fff;
    cursor: pointer;
    z-index: 1;
    left: 86px;
    top: 165px;
  }
  .plus:after {
    content: "";
    display: block;
    border-top: 3px solid #fff;
    margin-top: -3px;
    transform: rotate(90deg);
  }

  .page-body {
    width: 100%;
    height: 100%;
    position: relative;
    top: -85px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transform-origin: 0 0;
  }

  .hamburger-container.open {
    transform: rotate(-50deg);
  }

  .page-body.open {
    transform: rotate(-30deg);
  }

  .row {
    height: 340px;
  }
  .first {
    background-color: #FDEECF;
  }
  .second {
    background-color: #FDD0BC;
  }




  .row_third {
    background-color: rgb(254,254,254);
  }
  .row_fourth {
    background-color: rgb(254,254,254);
  }
  
   #cadre{
    background-color: rgb(255,255,255);
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    border: 2px solid rgb(255,255,255);
    border-radius: 25px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(149, 22, 22, 0.34); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.34);
    /* margin: 5%; */
    margin-bottom: 40px;
  }
  #cadreO{
    background-color: rgb(255,255,255);
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    border: 2px solid rgb(255,255,255);
    border-radius: 25px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.34); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.34);
    /* margin: 5%; */
    margin-bottom: 40px;
    
  }
  #image{
    margin-top: 55px;
    margin-bottom: 35px;
    
  }
  
  #titre{
    display: flex;
    justify-content: center;
    font-size: 15px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
  }
  #h4{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
    font-weight: lighter;
    font-weight: lighter;
    margin-top: 0px;
  }
  #titreT{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 34px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
  }
  #txt{
    display: flex;
    justify-content: center;
    /* font-size: 24px; */
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
  }
  #paragraph{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    text-transform: capitalize;
  }
  #learnmore{
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;
  }
  
  .line{
    border-top: 10px solid salmon;
    width:50%;
    margin-top: 25%;
    /* position: relative; */
  }
  .row_fifth {
    background-color: rgb(254,254,254);
    text-align: left;
  }
  #titreS{
    display: flex;
    justify-content: flex-start;
    font-size: 26px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    text-transform: capitalize;
    
  }
  #subtitle{
    position: relative;
    top: -15px;
    text-transform: capitalize;
    font-weight: lighter;
    
  }
  #paragraphE{
   
    font-size: 15px;
    line-height: 25px;
    text-align: left;
    text-transform: capitalize;
  }
  #written{
    color: white;
    font-size: 30px;
    background: rgb(254,130,103);
    background: linear-gradient(90deg, rgba(254,130,103,1) 31%,
    rgba(255,125,119,1) 79%, 
    rgba(254,115,144,1) 100%);
    height: 60px;
    width: 180px;
    border: solid white 2px;
    border-radius: 12px;
    margin-top: 25px;
    
  }
  /* changer la couleur en gradiant */
  
  .sixth {
    background-color: red;
  }
 .seventh {
    background-color: yellow;
 }
 .eight {
  background-color: red
 }
 .nineth {
    background-color: yellow;
 }



 .row_tenth{
    background-color: white;
 }
 .line2{
  border-top: 10px solid salmon;
  width: 50%;
  margin-top: 25%;
  margin-left: 25%;
 }
 #txtM{
  display: flex;
  flex-direction: column;
  font-size: 15px;
  text-transform: capitalize;
  text-align: center;
 }
 #titreM{
  font-weight: lighter;
  font-size: 27px;
 }
 #subtitleS{
  display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    margin-top: -10px;
    font-size: 30px
 }
#photo {
    margin-right: 5%;
    border: solid white 0px;
    border-radius: 12px;
    margin-right: 0%;
    -webkit-box-shadow: 5px 5px 15px 5px rgb(149 22 22 / 34%);
    box-shadow: 1px 1px 1px 1px rgba(203, 202, 202, 0.34);
 }
 #team{
  width: 362px;
 }
 #nom{
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  font-weight: lighter;
  position: relative;
  top: -40px;
  line-height: 30px;
}
.transparent{
  height: 60px;
  width: 180px;
  position: relative;
  left: 76px;
  border: solid white 2px;
  border-radius: 40px;
  background: #aeaeae8a;
  top: -77px;
    
}
#icons{
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: white;

}
 





  .eleventh {
    margin-bottom: 45%;
  }
 .twelved {
    margin-bottom: 45%;
 }
 .thirtheenth {
  margin-bottom: 45%;
 }
 
 
 .fourteenth {
    margin-bottom: 65%;
    display: flex;
    flex-direction: column;
 }
 #soustxt{
  display: flex;
  justify-content: space-between;
  margin-top: -9%;
 }
#paragraphE >p{
  font-size: 20px;
}
#learnmore2{
  color: #FF7E70;
  text-transform: capitalize;
  font-size: xx-large;
  margin-bottom: 10%;
}



 .fifteenth{
  margin-bottom: 65%;
 }
  .sixteenth {
  margin-bottom: 65%;
 }
 .seventeenth {
    background-color: yellow;
 }
 .eighteenth {
  background-color: red;
 }
 
 .nineteenth {
    background-color: yellow;
 }
