@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');
html, body {
  width: 360px;
  height: 800px;
  }
  body {
    background-color: #fff;
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'League Spartan'; */
  }
  .container {
    height: 100%;
    display: flex;
  }
  .hamburger-container {
    background-color: #FD898A;
    width: 200px;
    height: 200px;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: -115px;
    margin-left: -123px;
    z-index: 10;
  }
  .hamburger {
    width: 22px;
    position: absolute;
    left: 142px;
    border-top: 2px solid #fff;
    cursor: pointer;
    z-index: 1;
    top: 136px;
  }
  .hamburger:after {
    content: "";
    display: block;
    border-top: 2px solid #fff;
    margin-top: 4px;
  }
  .hamburger:before {
    content: "";
    display: block;
    border-top: 2px solid #fff;
    margin-top: 4px;
  }
 .plus {
    width: 20px;
    position: absolute;
    border-top: 3px solid #fff;
    cursor: pointer;
    z-index: 1;
    left: 86px;
    top: 165px;
  }
  .plus:after {
    content: "";
    display: block;
    border-top: 3px solid #fff;
    margin-top: -3px;
    transform: rotate(90deg);
  }
  .page-body {
    width: 100%;
    height: 100%;
    position: relative;
    top: -85px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transform-origin: 0 0;
  }
  .hamburger-container.open {
    transform: rotate(-50deg);
  }
  .page-body.open {
    transform: rotate(-30deg);
  }
 .row {
    height: 340px;
    display: flex;
  }
  .second {
    /*background-color: white;*/
    display: flex;
    flex-direction: column;
    background:rgba(55, 54, 54, 0.142);
    opacity: 0.3;
    align-items: center;
    text-align: left;
    width: 100%;
    height: auto; 
  }
  hr{
  height: 1px;
  background-color: #ccc;
  border: none; 
  }
  div.image{
    display: flex;
    flex-direction:row ;
    justify-content:space-between;
   }
  #image1 , #image2 , #image3, #image4 {
   margin: 50px;
   justify-content:space-around;
   width: 250px;
   height: 60px;
  }
  #image5{
  width: 250px;
  height: 60px;
  margin-left: 90px;
  align-content:space-around;
}
.ligne{
  width:300px; 
  height: 12px; 
  margin-top: 100px;
  color:rgba(16, 14, 12, 0.696); 
  background-color: #FD898A;
}
.ligne2{
  width:250px; 
  height: 12px; 
 margin-left: 50px;
  color:rgba(16, 14, 12, 0.696); 
  background-color: #FD898A; 
}
.ligne3{
  width:250px; 
  height: 12px; 
 margin-left: 50px;
background-color: #FD898A; 
}
#ligne33{
  width:250px; 
  height: 12px; 
  margin-top: 100px;
  color:rgba(16, 14, 12, 0.696); 
  background-color: #FD898A;
  border:5px solid #FD898A;
}
  .third {
    background-color: #EDB4B5;
  }
  .fourth {
    background-color: #CB86A0;
  }
  .fifth {
    background-color: #E6A6A8;
  }
  .fa-regular , .fa-solid{
    font-weight: bold;
  }
  .sixth {
   display: flex;
   background-color: white;
   flex-direction: column;
   justify-content: center;
   align-items:flex-start;
   width: auto;
   height: auto;
  }
  h1 span {
    color: black;
    margin-left: 80px;
    text-transform: capitalize;
    font-size: 40px;
    height: 60px;
    font-weight: bold;
    }
    p{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    margin-left: 20px;
    margin-right: 50px;
  }
  .bouton6{
      margin-left: 50px;
      color: white;
      font-size: 30px;
      background: rgb(254,130,103);
      background: linear-gradient(90deg, rgba(254,130,103,1) 31%,
      rgba(255,125,119,1) 79%, 
      rgba(254,115,144,1) 100%);
      height: 60px;
      width: 180px;
      border: solid white 2px;
      border-radius: 12px;
      margin-top: 25px;
   }
     #photo {
      margin-right: 5%;
      border: solid white 0px;
      border-radius: 12px;
      margin-right: 0%;
   } 
   #nom{
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    font-weight: lighter;
    position: relative;
    top: -2px;
    line-height: 30px;
    margin-right:500px;
    } 
 .tenth{
  display: flex;
  flex-direction: column;
  justify-items: center;
  height: auto;
}
.forme{
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 80px;
  }
.forme1, .forme2, .forme3 {
    width: 18%;
    height: 130px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 100px;
    border-radius: 30%;
    color: white;
    font-weight: bold;
    transform: rotate(-45deg);
    }
.forme1 {
    background-color: rgb(31, 168, 205);
  }
  .forme2 {
    background-color: rgb(254 117 135);
  }
  .forme3 {
    background-color: rgb(55 62 207);
  }
 /* .bubbles h2, .bubbles h3 {
    margin: 0;
    text-align: center;
    transform: rotate(90deg);
    translate: 5px 5px;
    writing-mode: vertical-rl;
text-orientation: mixed;
  }*/
  .forme1 , .forme2, .forme3{
    text-align:center;
    translate: 5px 5px;
  }
  .forme h3{
    translate:unset;
  }
  .fourenth{
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 3%;
    border: 5px solid  rgba(255,125,119,1);
    height: 400px;
    margin-bottom: 30px;
  }
  .haut{
    display: flex;
    margin-top: 50px;
    height: auto;
  }
  .haut1 img, .haut2 img{
    margin-left: 100px;
    width: 100px;
    height: 40px;
  }
  .haut2{
    margin-left: 400px;
  }
  .fa-comment , .fa-star{
    color:rgb(255, 166, 0);
    width: 60px;
    height: 40px;
  }
  .haut4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
   #haut4image1{
    position:absolute;
    z-index:4;
   }
   #haut4image2{
    position:absolute;
    z-index:2;
    width: 200px;
   }
   .rond{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: left;
    padding: 20px;
    margin-left: 20px;
   }
   .cercle{
    display: flex;
   background-color: #FD898A;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    }
   .cercle1{
    display: flex;
    background-color: #efcaca;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin:20px
   }
  .fifthen{
    display: flex;
    flex-direction: column;
   }
  .fifthen p{
    display: flex;
    flex-direction: row;
   }
  .para{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    text-transform: capitalize;
    font-size: 60px;
    position: relative;
    padding: 4px;
    font-weight:bolder;
   }
   .cool, .modern{
    margin-left: 50px;
   }
   .cool1{
    margin-left: 2px;
   }
  
  